.mypage {
  --btn-width: 160px;
  --gap: 20px;
  width: 100%;
  min-height: 80vh;
  height: auto;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 60px 1fr;
  align-items: stretch;
  align-content: center;
  justify-items: stretch;
  justify-content: center;
  gap: var(--gap);
}

.mypage__btn {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 12px;
  border: 1px solid var(--color-smoke-b);
  cursor: pointer;
}

.mypage__btn:nth-child(1)::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: no-repeat url(/image/icon/person-stand-filled.svg);
  filter: invert(var(--icon-invert));
}

.mypage__btn:nth-child(2)::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: no-repeat url(/image/icon/document-filled.svg);
  filter: invert(var(--icon-invert));
}

.mypage__btn:nth-child(3)::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: no-repeat url(/image/icon/chatbox-ellipses-filled.svg);
  filter: invert(var(--icon-invert));
}

.mypage__btn:nth-child(4)::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: no-repeat url(/image/icon/cart-filled.svg);
  filter: invert(var(--icon-invert));
}

.mypage__btn--focus {
  background-color: var(--color-smoke-b);
}

.mypage__content {
  grid-row: 2/3;
  grid-column: 1/5;
  padding: 15px 20px;
  position: relative;
  border-radius: 12px;
  border: 1px solid var(--color-smoke-b);
}

.mypage__profile-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mypage__divider {
  width: 100%;
  height: 1px;
  margin: 10px 0;
  border-top: 1px dashed var(--color-smoke-b);
}

.mypage__profile-container {
  flex-grow: 1;
  width: 100%;
  justify-self: stretch;
}

.mypage__profile-container-title {
  margin: 0 0 5px 0;
}

.mypage__profile-items {
  width: 100%;
  height: 70%;
  padding: 10px 7px 10px 14px;
  border-radius: 12px;
  border: 1px solid var(--color-smoke-b);
  overflow-y: scroll;
}

.mypage__profile-items li {
  margin-bottom: 4px;
  list-style: none;
}

.mypage__profile-link {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.mypage__profile-comment-content {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.mypage__profile-items span {
  width: 30px;
  text-align: center;
}

.mypage__profile-items span:nth-child(1) {
  flex-grow: 1;
  text-align: start;
}

.mypage__posts {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto 1fr repeat(2, auto);
  grid-template-rows: 20px repeat(15, 1fr);
  column-gap: 20px;
  row-gap: 3px;
  align-items: center;
  justify-items: center;
}

.mypage__posts-content {
  justify-self: stretch;
  max-width: 70vw;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.mypage__radio {
  appearance: none;
  width: 16px;
  height: 16px;
  margin: 0 20px;
  border-radius: 100%;
  border: 4px solid var(--color-smoke-a);
  transition: 0.2s background-color;
}

.mypage__radio:checked {
  background-color: var(--color-main);
}

@media screen and (max-width: 576px) {
  .mypage {
    grid-template-rows: 40px 1fr;
    gap: 10px;
  }

  .mypage__btn {
    border-radius: 6px;
  }

  .mypage__btn:nth-child(1)::before {
    width: 20px;
    height: 20px;
  }

  .mypage__btn:nth-child(2)::before {
    width: 20px;
    height: 20px;
  }

  .mypage__btn:nth-child(3)::before {
    width: 20px;
    height: 20px;
  }

  .mypage__btn:nth-child(4)::before {
    width: 20px;
    height: 20px;
  }

  .mypage__content {
    height: 70vh;
    padding: 5px 10px;
  }

  .mypage__posts-content {
    max-width: 40vw;
  }
}
