.item-detail__main {
  width: 640px;
  position: relative;
  margin: 0px auto;
  position: relative;
  overflow-x: hidden;
}

.item-detail__no-img {
  width: 640px;
  height: 480px;
  margin: 10px auto;
  position: relative;
  border-radius: 4px;
  background: var(--color-smoke-a);
  background-repeat: no-repeat;
  background-position: center;
}

.item-detail__no-img::before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background: url(/image/clip.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
}

.item-detail__title {
  margin: 30px 0 12px 0;
  padding-left: 7px;
}

.item-detail__description {
  min-height: 100px;
  margin: 10px 0;
  padding: 10px 13px;
  border-radius: 12px;
  box-shadow: inset 2px 2px 2px var(--color-shadow-rd),
    inset -2px -2px 3px var(--color-shadow-lu);
}

.suged-list {
  margin: 30px 0 10px 0;
}

.suged-list__title {
  display: inline-block;
  margin: 12px 0;
  padding-left: 7px;
}

.suged-list__ul {
  width: 100%;
  height: 160px;
  padding: 10px 15px;
  position: relative;
  display: inline-block;
  border-radius: 12px;
  box-shadow: inset 2px 2px 2px var(--color-shadow-rd),
    inset -2px -2px 3px var(--color-shadow-lu);
  overflow-y: scroll;
}

.suged-list__ul::-webkit-scrollbar {
  width: 0;
}

.suged-list__no-data {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.suged-item {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-smoke-a);
}

.suged-item:last-child {
  border: none;
}

.suged-item__img {
  width: 50px;
  height: 29px;
  border-radius: 4px;
  background-color: var(--color-smoke-a);
}

.suged-item__title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 768px) {
  .item-detail__main {
    width: 480px;
  }

  .item-detail__img {
    width: 480px;
    height: 360px;
  }

  .item-detail__no-img {
    width: 480px;
    height: 360px;
  }
}

@media screen and (max-width: 576px) {
  .item-detail__main {
    margin: 0 auto 30px auto;
    width: 100%;
  }

  .item-detail__img {
    width: 92vw;
    height: calc(92vw * 0.75);
    margin: 0;
    border-radius: 0;
  }

  .item-detail__no-img {
    width: 92vw;
    height: calc(92vw * 0.75);
    margin: 0;
    border-radius: 0;
  }

  .item-detail__title {
    margin: 28px 10px 18px 10px;
  }

  .item-detail__description {
    margin: 10px;
  }

  .item-detail__info {
    margin: 10px 10px 30px 10px;
  }

  .suged-list {
    margin: 10px;
  }
}
