.showcase {
  width: 100%;
  height: auto;
}

.showcase__interface {
  width: fit-content;
  margin-bottom: 17px;
  margin-left: auto;
  padding: 5px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
}

.showcase__search {
  width: 130px;
  height: 20px;
  padding-left: 10px;
  border-radius: 12px;
  border: none;
  background-color: var(--color-body);
  border: 1px solid var(--color-smoke-b);
}

.showcase__search:focus {
  outline: none;
}

.showcase__btn-search {
  width: 13px;
  height: 13px;
  position: absolute;
  left: 116px;
  background-image: url(/image/icon/search.svg);
}

.showcase__select-order {
  height: 20px;
  border-radius: 12px;
  border: none;
  background-color: var(--color-body);
  text-align: center;
  border: 1px solid var(--color-smoke-b);
}

.showcase__item-wrapper {
  width: 100%;
  height: auto;
  padding: 0 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 170px);
  grid-auto-rows: auto;
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 15px;
  row-gap: 24px;
}

.showcase__no-data {
  width: 100%;
  position: fixed;
  text-align: center;
}

.item-card {
  width: 100%;
  padding: 0 0 var(--item-card-padding) 0;
  position: relative;
  border-radius: 4px;
  background-color: var(--color-body);
  list-style: none;
}

.item-card__a {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.item-card__img {
  width: 100%;
  aspect-ratio: 1/1;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  background-color: var(--color-smoke-a);
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
}

.item-card__img img {
  object-fit: cover;
}

.item-card__no-img::before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url(/image/clip.png) var(--color-smoke-a) no-repeat center;
  background-size: 30%;
}

.item-card__title {
  flex-grow: 1;
  width: 100%;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.item-card__indicator {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.item-card__i-like {
  width: 19px;
  height: 19px;
  display: inline-block;
  background: url(/image/icon/heart.svg) no-repeat center;
  filter: invert(var(--icon-invert));
}

.item-card__i-like--clk {
  background: url(/image/icon/heart-filled.svg) no-repeat center;
}

.item-card__i-chat {
  width: 17px;
  height: 17px;
  display: inline-block;
  background: url(/image/icon/chatbubble.svg) no-repeat center;
  filter: invert(var(--icon-invert));
}

.item-card__n-like,
.item-card__n-chat {
  margin-left: 2px;
  margin-right: 10px;
  line-height: 12px;
}

.item-card__n-chat {
  margin-left: 2.5px;
}

.item-card__nick {
  margin-left: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.item-card__region {
  padding: 2px 8px;
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: var(--color-body);
  border-radius: 6px;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
}

.showcase__btn-to-top {
  width: 45px;
  height: 45px;
  position: fixed;
  bottom: 30px;
  border-radius: 100%;
  background-color: var(--color-body);
  border: 1px solid var(--color-smoke-b);
}

.showcase__btn-to-top::before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background-image: url(/image/icon/up.svg);
  background-position: center top 7px;
  background-repeat: no-repeat;
  background-size: 50%;
  filter: invert(70%);
}

@media screen and (max-width: 576px) {
  .showcase__item-wrapper {
    padding: 0;
    grid-template-columns: repeat(auto-fill, 155px);
  }

  .item-card {
    --item-card-width: 150px;
  }

  .item-card__time {
    bottom: 2px;
    right: 2px;
    transform: scale(0.9);
  }
}
