.showcase {
  width: 100%;
  height: auto;
}

.showcase__interface {
  width: fit-content;
  margin-bottom: 17px;
  margin-left: auto;
  padding: 5px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  box-shadow: -2px -2px 3px var(--color-shadow-lu),
    2px 2px 3px var(--color-shadow-rd);
}

.showcase__search {
  width: 130px;
  height: 20px;
  padding-left: 10px;
  border-radius: 12px;
  border: none;
  background-color: var(--color-body);
  box-shadow: inset 1.5px 1.5px 2px var(--color-shadow-rd),
    inset -1.5px -1.5px 2px var(--color-shadow-lu);
}

.showcase__search:focus {
  outline: none;
}

.showcase__btn-search {
  width: 13px;
  height: 13px;
  position: absolute;
  left: 116px;
  background-image: url(/image/icon/search.svg);
}

.showcase__select-order {
  height: 20px;
  border-radius: 12px;
  border: none;
  background-color: var(--color-body);
  text-align: center;
}

.showcase__item-wrapper {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 180px);
  grid-auto-rows: auto;
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 15px;
}

.showcase__no-data {
  width: 100%;
  position: fixed;
  text-align: center;
}

.item-card {
  --item-card-width: 180px;
  --item-card-padding: 3px;
  width: var(--item-card-width);
  height: calc(var(--item-card-width) * 1.2);
  padding: var(--item-card-padding) 0;
  position: relative;
  border-radius: 4px;
  background-color: var(--color-body);
  box-shadow: -1.5px -1.5px 4px var(--color-shadow-lu),
    2px 2px 3px var(--color-shadow-rd);
}

.item-card__a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.item-card__img {
  width: 180px;
  height: 135px;
  margin-top: 10px;
  position: relative;
  background-color: var(--color-smoke-a);
}

.item-card__img img {
  object-fit: contain;
}

.item-card__no-img::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url(/image/clip.png) var(--color-smoke-a) no-repeat center;
  background-size: 30%;
}

.item-card__title {
  width: 100%;
  padding: 5px 8px;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  overflow: hidden;
}

.item-card__indicator {
  width: 180px;
  padding: 5px;
  position: relative;
  display: flex;
  align-items: center;
}

.item-card__i-like {
  width: 16px;
  height: 16px;
  display: inline-block;
  background: url(/image/icon/heart.svg) no-repeat center;
  filter: invert(var(--icon-invert));
}

.item-card__i-chat {
  width: 15px;
  height: 15px;
  display: inline-block;
  background: url(/image/icon/chatbubble.svg) no-repeat center;
  filter: invert(var(--icon-invert));
}

.item-card__n-like,
.item-card__n-chat {
  margin-left: 2px;
  margin-right: 10px;
  line-height: 12px;
}

.item-card__n-chat {
  margin-left: 2.5px;
}

.item-card__nick {
  position: absolute;
  right: 5px;
}

.showcase__btn-to-top {
  width: 45px;
  height: 45px;
  position: fixed;
  bottom: 30px;
  border-radius: 100%;
  background-color: var(--color-body);
  box-shadow: 0 0 3px var(--color-shadow);
}

.showcase__btn-to-top::before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background-image: url(/image/icon/up.svg);
  background-position: center top 7px;
  background-repeat: no-repeat;
  background-size: 50%;
  filter: invert(70%);
}

@media screen and (max-width: 576) {
  .showcase__item-wrapper {
    grid-template-columns: repeat(auto-fill, 150px);
  }

  .item-card {
    --item-card-width: 150px;
  }

  .item-card__time {
    bottom: 2px;
    right: 2px;
    transform: scale(0.9);
  }
}
