.chatnav {
  width: 250px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  border-right: 1px solid var(--color-smoke-a);
  background-color: var(--color-body);
  transition: 0.3s left;
  z-index: 2;
}

.chatnav__gnb {
  width: 100%;
  height: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.chatnav__search {
  width: 160px;
  height: 24px;
  margin-left: 5px;
  padding-left: 10px;
  border-radius: 12px;
  border: none;
  background-color: var(--color-smoke-a);
  font-size: var(--font-size-vsm);
}

.chatnav__search:focus {
  outline: none;
}

.chatnav__btn-home {
  width: 24px;
  height: 24px;
  position: relative;
  transform: translateY(2px);
  border-radius: 100%;
  background-image: url(/image/icon/home.svg);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  filter: invert(var(--icon-invert));
}

.chatnav__btn {
  width: 25px;
  height: 25px;
  position: absolute;
  right: -27px;
  border-radius: 100%;
  background-image: url(/image/icon/chevron-up.svg);
  filter: invert(70%);
  z-index: 2;
  transition: 0.3s transform;
}

.chatnav__btn--show {
  transform: rotateZ(-90deg);
}

.chatnav__btn--hide {
  transform: rotateZ(90deg);
}

.chatlist {
  flex-grow: 1;
  width: 100%;
}

.chatitem {
  width: 92%;
  margin: 5px auto;
  padding: 8px 10px;
  position: relative;
  display: grid;
  grid-template-columns: 46px 1fr;
  grid-template-rows: 0.8fr 1fr;
  grid-template-areas:
    "img info"
    "img preview";
  align-items: center;
  column-gap: 10px;
  border-radius: 6px;
  list-style: none;
  cursor: pointer;
}

.chatitem--active {
  background-color: var(--color-main);
}

.chatitem--active * {
  color: white;
}

.chatitem--active .chatitem__time {
  color: var(--color-main);
}

.chatitem__img-wrapper {
  grid-area: img;
  width: 46px;
  height: 46px;
  position: relative;
}

.chatitem__img:nth-child(1) {
  width: 46px;
  height: 46px;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 100%;
  border: 2px solid var(--color-body);
  background-color: var(--color-smoke-a);
}

.chatitem__img:nth-child(2) {
  width: 24px;
  height: 24px;
  position: absolute;
  right: -2px;
  bottom: -2px;
  border-radius: 100%;
  border: 2px solid var(--color-body);
  background-color: var(--color-smoke-a);
}

.chatitem__info {
  align-self: end;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: var(--font-size-sm);
}

.chatitem__nick {
  font-size: var(--font-size-sm);
  font-weight: 650;
  cursor: pointer;
}

.chatitem__time {
  transform: translateY(3px);
  font-size: var(--font-size-vsm);
  color: var(--color-smoke-b);
  scale: 0.9;
}

.chatitem__preview {
  width: 90%;
  height: var(--font-size-sm);
  font-size: var(--font-size-vsm);
  cursor: pointer;
  overflow: hidden;
}

.chatlist__title {
  position: absolute;
  left: 50%;
  bottom: 12px;
  transform: translateX(-50%);
  font-size: var(--font-size-sm);
  color: var(--color-smoke-a);
}

.chatitem__relay-cnt {
  width: 17px;
  height: 17px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  border-radius: 100%;
  background-color: red;
  color: var(--color-body);
  font-size: var(--font-size-vsm);
  font-weight: 650;
  text-align: center;
  line-height: 15px;
  scale: 0.85;
}
