.write-page {
  width: 100%;
  height: calc(100vh - var(--header-height) - var(--gnb-height) - 120px);
  margin-top: 30px;
  border-radius: 12px;
  overflow-x: hidden;
  overflow-y: scroll;
  box-shadow: -3px -3px 6px var(--color-shadow-lu),
    3px 3px 6px var(--color-shadow-rd);
}

.write-page__title {
  width: 100%;
  height: 54px;
  position: absolute;
  top: 5px;
  padding-left: 11px;
  border: none;
  font-size: var(--font-size-lg);
  background-color: var(--color-body);
}

.write-page__title:focus {
  outline: none;
}

.write-page .ck.ck-editor {
  width: 100%;
}

.write-page .ck.ck-sticky-panel__content_sticky {
  box-shadow: none !important;
}

.write-page .ck.ck-toolbar {
  width: 100%;
  background-color: rgb(197, 197, 197);
  border-radius: 12px 12px 0 0 !important;
  border: none;
}

.write-page .ck.ck-toolbar .ck.ck-toolbar__separator {
  background-color: var(--color-body);
}

.write-page .ck.ck-button:hover {
  background-color: rgb(197, 197, 197);
  cursor: pointer;
}

.write-page .ck.ck-editor__editable:not(.ck-editor__nested-editable) {
  padding-inline-start: 13px;
  min-height: 100vh;
  background-color: var(--color-body);
  cursor: text;
}

/*ckeditor boarder*/
.write-page .ck.ck-editor__main > .ck-editor__editable:not(.ck-focused) {
  border: none;
}

/*ckeditor - focused*/
.write-page
  .ck.ck-editor__editable.ck-focused:not(.ck-editor__nested-editable) {
  border: none;
  box-shadow: none;
}

/*ckeditor - focused*/
.write-page .ck.ck-editor__editable.ck-focused {
  border: none;
}

.write-page__board {
  height: 30px;
  padding-right: 15px;
  position: absolute;
  right: 0;
  bottom: -5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  z-index: 1000;
}

.write-page__select {
  width: 100px;
  height: 83%;
  border: none;
  border-radius: 4px;
  text-align: center;
  font-size: var(--font-size-md);
  background-color: var(--color-body);
  appearance: none;
}

.write-page__select:hover {
  filter: brightness(0.97);
}

.write-page__select:focus {
  outline: none;
}

.write-page__select option {
  color: #666;
}

.write-page__btn-complete {
  width: fit-content;
  margin-left: 20px;
  font-size: var(--font-size-md);
  font-weight: 500;
  background-color: var(--color-body);
}

.write-page__btn-complete:hover {
  filter: brightness(0.97);
}
