.header {
  width: 100vw;
  position: sticky;
  top: 0;
  padding: 10px 16px 0 16px;
  box-shadow: 0 0px 14px var(--color-shadow);
  background-color: var(--color-body);
  z-index: 2;
}

.header__interface {
  width: 100%;
  height: auto;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.header__logo {
  height: auto;
  padding-bottom: 3px;
  font-weight: 700;
  font-size: var(--font-size-title);
  white-space: nowrap;
}

.header__logo:hover {
  filter: brightness(1.5);
}

.header__btn-menu {
  display: none;
}

.sign-pre {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .header {
    --header-height: 34px;
    justify-content: center;
    align-items: center;
  }

  .header__logo {
    margin: 0;
    padding-top: 3px;
  }

  .header__logo-img {
    width: calc(var(--header-height) - 6px);
    height: calc(var(--header-height) - 6px);
    display: block;
    background: url(/image/icon/clip.svg);
    filter: invert(60%);
    transform: rotateZ(36deg);
  }
}
