.header {
  width: 100vw;
  position: sticky;
  top: 0;
  padding: 10px 16px 0 16px;
  box-shadow: 0px 1px 4px var(--color-shadow-rd);
  background-color: var(--color-body);
  z-index: 2;
}

.header__interface {
  width: 100%;
  height: fit-content;
  position: relative;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.header__logo {
  height: auto;
  padding-bottom: 3px;
  font-weight: 900;
  font-size: var(--font-size-title);
  white-space: nowrap;
}

.header__logo:hover {
  filter: brightness(1.5);
}

.header__btn-menu {
  display: none;
}

.sign-pre {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media screen and (max-width: 576px) {
  .header {
    padding: 5px 5px 0 5px;
  }

  .header__interface {
    height: 30px;
    justify-content: center;
  }
  .header__logo-img {
    width: 30px;
    height: 30px;
    display: block;
    background: url(/image/icon/clip.svg);
    filter: invert(60%);
    transform: rotateZ(36deg);
  }
}
