.item-detail__img-wrapper {
  width: 100%;
  height: auto;
  position: relative;
  left: 0;
  display: flex;
}

.item-detail__img {
  width: 640px;
  height: 480px;
  margin: 10px auto;
  position: relative;
  border-radius: 4px;
  object-fit: contain;
  background-color: var(--color-smoke-b);
}
