.chat-detail {
  width: calc(100vw - 250px);
  height: 100vh;
  position: fixed;
  right: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--color-body);
}

.chat-detail__contents {
  flex-grow: 1;
  padding: 5px 13px;
  position: relative;
  overflow-y: scroll;
}

.chat-detail__contents::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

.chat-detail__contents::-webkit-scrollbar-thumb {
  width: 5px;
  border-radius: 20px;
  background-color: var(--color-smoke-b);
}

.chat-wrapper {
  margin: 30px 0;
  position: relative;
  list-style: none;
}

.chat {
  width: fit-content;
  max-width: 56%;
  min-height: 40px;
  padding: 10px 14px;
  position: relative;
  word-break: break-all;
  font-size: var(--font-size-md);
}

.chat:first-child {
  max-width: none;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.chat:first-child li {
  font-size: 12px;
}

.chat img {
  width: 240px;
  height: 180px;
  border-radius: 12px;
  object-fit: cover;
}

.chat a {
  width: 240px;
  padding: 3px 10px;
  border-radius: 12px;
  background-color: whitesmoke;
  color: var(--color-font);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
  font-weight: 600;
  box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.3);
}

.chat--me {
  margin-left: auto;
  align-self: flex-end;
  border-radius: 23px 23px 0px 23px;
  background-color: var(--color-main);
  color: white;
}

.chat--me * {
  color: white;
}

.chat--opponent {
  align-self: flex-start;
  border-radius: 23px 23px 23px 0px;
  background-color: var(--color-smoke-a);
}

.chat--opponent * {
  color: var(--color-font);
}

.chat__date {
  width: 80px;
  display: block;
  position: absolute;
  bottom: -16px;
  font-size: var(--font-size-vsm);
  color: var(--color-smoke-b);
  scale: 0.8;
}

.chat__date--me {
  right: -3px;
  text-align: right;
}

.chat__date--opponent {
  left: -3px;
  text-align: left;
}

.chat-detail__default {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-image: url(/image/icon/chatbubbles-filled.svg);
  background-size: contain;
  background-position: center;
  filter: invert(var(--icon-invert));
}

.chat-detail__keyboard {
  width: 100%;
  height: auto;
  max-height: 240px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  gap: 12px;
  padding: 14px;
  background-color: var(--color-body);
  border-top: 1px solid var(--color-smoke-a);
}

.chat-detail__label-input-img {
  flex-shrink: 0;
  width: 37.5px;
  height: 37.5px;
  display: block;
  background-image: url(/image/icon/image.svg);
  filter: invert(var(--icon-invert));
  z-index: 2;
}

.chat-detail__input-img {
  flex-shrink: 0;
  display: none;
}

.chat-detail__btn-wrapper-scroll {
  flex-shrink: 0;
  width: 25px;
  height: 37.5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chat-detail__btn-scroll {
  width: auto;
  height: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: invert(var(--icon-invert));
}

.chat-detail__btn-top {
  height: 20px;
  background-image: url(/image/icon/chevron-up.svg);
}

.chat-detail__btn-bottom {
  height: 20px;
  background-image: url(/image/icon/chevron-down.svg);
}

.chat-detail__btn-submit {
  flex-shrink: 0;
  width: 30px;
  height: 37.5px;
  position: relative;
  background-color: var(--color-main);
}

.chat-detail__btn-submit::before {
  content: "";
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(/image/icon/send.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
  filter: invert(var(--icon-invert-b));
}

/*ck editor setting*/
.chat-detail__keyboard .ck.ck-editor {
  flex-grow: 1;
  border: 12px;
}

.chat-detail__keyboard .ck.ck-toolbar {
  display: none;
}

.chat-detail__keyboard
  .ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline {
  height: min(auto, 35px);
  max-height: 96px;
  padding: 8px 16px;
  background-color: var(--color-smoke-a);
  border-radius: 30px;
  border: none;
}

.chat-detail__keyboard .ck.ck-editor__editable_inline > p {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .chat-detail {
    width: 100vw;
  }
}
