.showcase {
  width: 100%;
  height: auto;
}

.showcase__header {
  margin-bottom: 17px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.showcase__search {
  width: 130px;
  height: 20px;
  padding-left: 5px;
  border-radius: 4px;
  border: none;
  background-color: var(--color-smoke-a);
}

.showcase__btn-search {
  width: 13px;
  height: 13px;
  position: relative;
  right: 20px;
  background-image: url(/image/icon/search.svg);
}

.showcase__select-order {
  height: 20px;
  margin-right: 30px;
  border-radius: 4px;
  border: none;
  background-color: var(--color-smoke-a);
  font-size: var(--font-size-vsm);
  font-weight: 500;
  color: var(--color-font);
  text-align: center;
}

.showcase__item-wrapper {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 180px);
  grid-auto-rows: auto;
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 15px;
}

.showcase__no-data {
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: 500;
  font-size: var(--font-size-title);
  color: var(--color-font);
}

.item-card {
  --item-card-width: 180px;
  --item-card-padding: 3px;
  width: var(--item-card-width);
  height: auto;
  padding: var(--item-card-padding) 0;
  position: relative;
  border-radius: 2px;
  background-color: var(--color-body);
  border: 1px solid var(--color-smoke-a);
  box-shadow: 0 3px 10px var(--color-shadow);
}

.item-card__a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.item-card__img {
  margin-top: 10px;
  position: relative;
}

.item-card__no-img::after {
  content: "";
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-image: url(/image/clip.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.item-card__title {
  margin-bottom: 5px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: var(--font-size-sm);
  font-weight: 500;
  color: var(--color-font);
}

.item-card__info {
  width: var(--item-card-width);
  height: 60px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: var(--font-size-vsm);
  border-radius: 12px;
}

.item-card__indicator {
  width: 180px;
  padding: 5px;
  position: relative;
  display: flex;
  align-items: center;
}

.item-card__i-like {
  width: 16px;
  height: 16px;
  display: inline-block;
  background: url(/image/icon/heart.svg) no-repeat center;
  filter: invert(var(--icon-invert));
}

.item-card__i-chat {
  width: 15px;
  height: 15px;
  display: inline-block;
  background: url(/image/icon/chatbubble.svg) no-repeat center;
  filter: invert(var(--icon-invert));
}

.item-card__n-like,
.item-card__n-chat {
  margin-left: 2px;
  margin-right: 10px;
  font-size: 12px;
  line-height: 12px;
  color: var(--color-font);
}

.item-card__n-chat {
  margin-left: 2.5px;
}

.item-card__nick {
  position: absolute;
  right: 5px;
  font-size: var(--font-size-sm);
}

.showcase__btn-to-top {
  width: 45px;
  height: 45px;
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 100%;
  border: 1px solid var(--color-smoke-a);
  background-color: var(--color-body);
  box-shadow: 0 0 3px var(--color-shadow);
}

.showcase__btn-to-top::before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background-image: url(/image/icon/up.svg);
  background-position: center top 7px;
  background-repeat: no-repeat;
  background-size: 50%;
  filter: invert(70%);
}

@media screen and (max-width: 500px) {
  .showcase__item-wrapper {
    grid-template-columns: repeat(auto-fill, 150px);
  }

  .item-card {
    --item-card-width: 150px;
  }

  .item-card__time {
    bottom: 2px;
    right: 2px;
    transform: scale(0.9);
  }
}
