.modal {
  width: 100vw;
  max-width: 100vw !important;
  height: 83vh !important;
  padding: 20px;
  inset-block-start: 17vh;
  border: none;
  border-radius: 12px 12px 0 0;
  background-color: var(--color-body);
}

.modal::backdrop {
  background: linear-gradient(0deg, rgb(43, 43, 43) 74%, rgb(0, 0, 0) 100%);
  opacity: 0.75;
}

.modal-container {
  width: 100%;
  height: 100%;
  padding: 10px;
  position: relative;
  border-radius: 12px;
  animation: modalUp 0.3s forwards;
  overscroll-behavior: none;
}

@keyframes modalUp {
  0% {
    top: 4px;
  }
  100% {
    top: 0px;
  }
}

.modal__btn-close {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 3px;
  right: 3px;
  background-image: url(/image/icon/close.svg);
  filter: invert(var(--icon-invert));
}
