.gnb {
  width: 100%;
  padding: 8px 0 6px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 18px;
  z-index: 2;
}

.gnb__item {
  position: relative;
  cursor: pointer;
  text-align: center;
  color: white;
}

.gnb__item:nth-last-child(2) {
  width: 52px;
  height: 22px;
  color: var(--color-body);
  border-radius: 12px;
  overflow: hidden;
}

.gnb__item:nth-last-child(2)::before {
  content: "";
  width: 60px;
  height: 60px;
  display: block;
  position: absolute;
  top: -20px;
  left: -5px;
  background: linear-gradient(
    142deg,
    rgba(42, 42, 213, 1) 8%,
    rgba(168, 81, 171, 1) 48%,
    rgba(188, 94, 151, 1) 56%,
    rgba(247, 133, 10, 1) 100%
  );
  animation: rotate 3s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotatez(360deg);
  }
}

.gnb__item:nth-last-child(2)::after {
  content: "store";
  width: 46px;
  height: 16px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--font-size-sm);
  line-height: var(--font-size-sm);
  color: var(--color-font);
  border-radius: 12px;
  background-color: var(--color-body);
}

.gnb__mark {
  height: 3.5px;
  position: absolute;
  bottom: 0px;
  border-radius: 2px 2px 0 0;
  background: var(--color-opposite);
  transition-property: left, width;
  transition-duration: 0.4s;
}

@media screen and (max-width: 768px) {
  .gnb {
    gap: 10px;
  }
}
