.content-board__btn-wrapper {
  width: 136px;
  height: 33px;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  border-radius: 4px;
  box-shadow: -1.5px -1.5px 2px var(--color-shadow-lu),
    1.5px 1.5px 2px var(--color-shadow-rd);
}

.content-board__btn {
  width: auto;
  height: 35px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.content-board__img-like,
.content-board__img-dislike {
  width: 16px;
  height: 16px;
  position: relative;
  filter: invert(60%);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.content-board__img-like {
  background-image: url(/image/icon/thumbs-up-sharp.svg);
  bottom: 1px;
}

.content-board__img-dislike {
  background-image: url(/image/icon/thumbs-down-sharp.svg);
  bottom: -1px;
}

.content-board__img-dislike--active,
.content-board__img-like--active {
  filter: invert(0%);
}

.content-board__span {
  width: 30px;
  text-align: center;
  cursor: pointer;
}
