:root {
  --header-height: 50px;
  --gnb-height: 30px;
  --font-size-title: 23px;
  --font-size-lg: 18px;
  --font-size-md: 16px;
  --font-size-sm: 14px;
  --font-size-vsm: 12px;

  --color-font: black;
  --color-main: rgb(38, 66, 130);
  --color-opposite: rgb(197, 118, 43);
  --color-body: rgb(244, 244, 244);
  --color-smoke-a: rgb(233, 233, 233);
  --color-smoke-b: #cfcfcf;
  --color-shadow-lu: rgb(255, 255, 255);
  --color-shadow-rd: #e1e1e1;
  --icon-invert: 0%;
  --icon-invert-b: 100%;
}

@media screen and (max-width: 1200px) {
  :root {
    --header-height: 34px;
    --font-size-title: 20px;
  }
}

@media screen and (max-width: 576px) {
  :root {
    --font-size-vsm: 12px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-font: rgb(195, 195, 195);
    --color-main: rgb(197, 118, 43);
    --color-opposite: rgb(38, 66, 130);
    --color-body: rgb(43, 43, 43);
    --color-smoke-a: #3b3b3b;
    --color-smoke-b: rgb(82, 82, 82);
    --color-shadow-lu: rgb(66, 66, 66);
    --color-shadow-rd: rgb(22, 22, 22);
    --icon-invert: 80%;
    --icon-invert-b: 0%;
  }

  html {
    color-scheme: dark;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--color-font);
}

*::-webkit-scrollbar {
  width: 0;
}

body {
  min-height: 100vh;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-body);
}

img {
  width: min(630px, 90%);
  height: auto;
}

input,
select,
button {
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  font-weight: 700;
}

input {
  border: none;
}

input::placeholder {
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

span,
p {
  cursor: default;
}

.icon {
  filter: invert(var(--icon-invert));
}

.divider {
  width: 1.5px;
  height: 60%;
  background-color: var(--color-smoke-b);
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.center--x {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.center--y {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.btn--l {
  font-size: var(--font-size-lg);
  font-weight: 700;
}

.btn--m {
  font-size: var(--font-size-md);
  font-weight: 700;
}

.text--t {
  line-height: calc(var(--font-size-title) + 4px);
  font-size: var(--font-size-title);
  font-weight: 900;
}

.text--l {
  line-height: calc(var(--font-size-lg) + 4px);
  font-size: var(--font-size-lg);
  font-weight: 700;
}

.text--m {
  line-height: calc(var(--font-size-md) + 4px);
  font-size: var(--font-size-md);
  font-weight: 500;
}

.text--s {
  line-height: calc(var(--font-size-sm) + 4px);
  font-size: var(--font-size-sm);
  font-weight: 500;
}

.text--vs {
  line-height: calc(var(--font-size-vsm) + 4px);
  font-size: var(--font-size-vsm);
  font-weight: 500;
}

.ck.ck-balloon-panel.ck-balloon-panel_position_border-side_right.ck-powered-by-balloon {
  display: none;
}

.loading {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--color-body);
  z-index: 100;
}

.svg {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateZ(40deg);
}

.draw {
  stroke-width: 20px;
  stroke: var(--color-smoke-a);
  fill: none;
  stroke-linecap: round;
  stroke-dasharray: 1400;
  stroke-dashoffset: 1400;
  animation: draw 0.6s ease-in-out infinite normal forwards;
}

@keyframes draw {
  0% {
    stroke-dashoffset: 1400;
  }

  100% {
    stroke-dashoffset: 0;
  }
}
