.comment-board .ck.ck-toolbar {
  display: none;
}

.comment-board .ck.ck-editor__editable:not(.ck-editor__nested-editable) {
  width: 100%;
  min-width: 260px;
  height: 36px;
  padding: 6px 10px;
  border-radius: 4px !important;
  border: 1px solid var(--color-smoke-a) !important;
  background-color: var(--color-smoke-a);
  font-size: var(--font-size-sm);
  cursor: text;
  transition: height 0.3s 0.2s !important;
}

.comment-board
  .ck.ck-editor__editable.ck-focused:not(.ck-editor__nested-editable) {
  height: 65px;
  border: 1px solid var(--color-smoke-a) !important;
  display: block;
  box-shadow: none;
}

.comment-board .ck.ck-editor__editable p {
  margin: 0;
  cursor: text;
}

.comment-board::-webkit-scrollbar {
  width: 1px;
}

.comment-board {
  width: 650px;
  height: auto;
  margin: 30px auto 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.comment-board__form {
  width: 100%;
  margin-bottom: 20px;
  position: sticky;
  top: 88px;
  padding: 30px 15px 15px 15px;
  border-radius: 12px;
  box-shadow: 0px 1px 4px var(--color-shadow-rd);
  background-color: var(--color-body);
  z-index: 2;
}

.comment-board__btn-wrapper {
  width: 100%;
  margin: 10px 0 0px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  overflow: hidden;
}

.comment-board__btn {
  width: 70px;
  height: 22px;
  padding-bottom: 2px;
  background-color: var(--color-main);
}

.comment__default {
  width: 100%;
  min-height: 50px;
  padding: 10px;
  border-radius: 4px;
  border-top: 1px dashed var(--color-smoke-b);
}

.comment-target {
  transition: 0.3s;
  background-color: rgb(255, 248, 157);
}

.comment-target * {
  color: black !important;
}

.comment-target .comment__reply-target {
  background-color: var(--color-smoke-b);
}

.comment__content {
  margin: 10px 0;
}

.comment__info {
  position: relative;
  display: flex;
  align-items: flex-end;
  gap: 4px;
}

.comment__profile-img {
  width: 18px;
  height: 18px;
  border-radius: 4px;
  background-color: var(--color-smoke-a);
}

.comment__nickname {
  margin-left: 2px;
  font-weight: 700;
}

.comment__date {
  position: absolute;
  right: 4px;
}

.comment__content img {
  max-width: 60px;
  max-height: 60px;
  margin: 10px;
  display: block;
  position: relative;
  object-fit: contain;
}

.comment__edit-btn-wrapper {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  background-color: pink;
}

.comment__interface {
  margin: 2px 0;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.comment__rec-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3px;
}

.comment__btn-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.comment__btn-wrapper .comment__btn:nth-child(2) {
  margin: 0 10px;
}

.comment__btn {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  border: none;
  background-color: transparent;
  transition: 0.2s;
}

.comment__i {
  width: 100%;
  height: 100%;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.comment__i-like {
  background-image: url(/image/icon/thumbs-up.svg);
}

.comment__i-dislike {
  background-image: url(/image/icon/thumbs-down.svg);
}

.comment__i-edit {
  background-image: url(/image/icon/edit.svg);
}

.comment__i-delete {
  background-image: url(/image/icon/trash.svg);
}

.comment__i-reply {
  background-image: url(/image/icon/chatbox.svg);
}

.comment__i-close {
  background-image: url(/image/icon/close.svg);
}

.comment__btn-dislike {
  transform: translateY(2px);
}

.comment__span-rec {
  width: 20px;
  height: fit-content;
  position: relative;
  top: 1px;
}

.comment__reply {
  width: 93%;
  margin-left: 13px;
  position: relative;
}

.comment__reply::before {
  content: "⤷";
  position: absolute;
  left: -15px;
  top: 6px;
  font-size: var(--font-size-title);
  font-weight: 900;
  scale: 1.4;
  color: var(--main-color);
  background-color: transparent;
}

.comment__reply-target {
  display: inline-block;
  position: relative;
  bottom: 1.5px;
  margin-right: 6px;
  padding: 2px 4px;
  border-radius: 4px;
  background: linear-gradient(
    142deg,
    rgba(42, 42, 213, 1) 8%,
    rgba(168, 81, 171, 1) 48%,
    rgba(188, 94, 151, 1) 56%,
    rgba(247, 133, 10, 1) 100%
  );
  color: white;
}

@media screen and (max-width: 1200px) {
  .comment-board .ck.ck-editor__editable:not(.ck-editor__nested-editable) {
    min-width: 260px;
  }
}

@media screen and (max-width: 768px) {
  .comment-board {
    width: 96%;
  }
}

@media screen and (max-width: 576px) {
  .comment-board .ck.ck-editor__editable:not(.ck-editor__nested-editable) {
    padding: 5px 10px;
  }

  .comment-board__form {
    top: 76px;
    padding: 10px;
  }

  .comment-board__form-target {
    padding: 0px 5px;
    top: -10px;
    font-size: var(--font-size-vsm);
    background-color: var(--color-body);
  }

  .comment-board__btn-wrapper {
    margin: 5px 0 0px 0;
  }

  .comment-board__btn {
    width: 60px;
    height: 18px;
    font-size: var(--font-size-vsm);
  }
}
