.board {
  width: 100%;
  height: auto;
  min-height: 100%;
  position: relative;
}

.board__header {
  padding-bottom: 5px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.board__title {
  font-size: var(--font-size-lg);
  margin: 0 0 5px 5px;
}

.board__btn-wrapper {
  margin: 0 5px 5px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.board__btn {
  width: 24px;
  height: 24px;
  background-position: bottom 0;
}

.board__btn-img {
  background: url(/image/icon/image.svg) no-repeat;
}

.board__btn-default {
  position: relative;
  background: url(/image/icon/image.svg) no-repeat;
}

.board__btn-grid {
  background: url(/image/icon/grid.svg) no-repeat center;
  background-size: 90%;
}

.board__btn-list {
  background: url(/image/icon/list.svg) no-repeat;
}

.board__ul {
  position: relative;
  border-top: 1px dashed var(--color-smoke-b);
}

.board__ul li {
  list-style: none;
}

.board__ul--grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 50%);
}

.board__ul--grid::after {
  content: "";
  width: 0px;
  height: 100%;
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-right: 1px dashed var(--color-smoke-b);
}

.board__ul::before {
  content: "";
  width: 100%;
  height: 1px;
  display: inline-block;
  position: absolute;
}

.board-item {
  width: 100%;
  height: fit-content;
  padding: 8px 10px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  border-bottom: 1px dashed var(--color-smoke-b);
  cursor: pointer;
  list-style: none;
  background-color: var(--color-body);
}

.board-item--hide-img {
  padding: 4px 3px !important;
}

.board-item--show-img {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.board-item__img-wrapper {
  flex-shrink: 0;
  height: 66px;
  aspect-ratio: 4/3;
  position: relative;
  background-color: var(--color-smoke-a);
}

.board-item__img-wrapper img {
  object-fit: contain;
}

.board-item:hover {
  filter: brightness(0.93);
}

.board-item__body {
  flex-grow: 1;
  overflow: hidden;
}

.board-item__tag-wrapper {
  display: flex;
  align-items: center;
  gap: 7px;
}

.board-item--hide-img .board-item__tag-wrapper {
  transform-origin: 0 0;
  scale: 0.8;
}

.board-item__tag--category {
  display: inline-block;
  padding: 1px 3.5px;
  background-color: var(--color-main);
  border-radius: 1px;
  text-align: center;
  color: var(--color-body);
}

.board-item__tag--img {
  width: 24px;
  height: 18px;
  padding: 1px 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: url(/image/icon/image.svg); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: 88%;
  font-style: normal;
}

.board-item__title {
  width: 100%;
  margin-top: 5px;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.board-item__body--hide-img .board-item__title {
  margin-top: 0px;
}

.board-item__info {
  align-self: flex-end;
  margin-top: 7px;
  display: flex;
  justify-content: space-between;
}

.board-item--hide-img .board-item__info {
  margin-top: 3px;
}

.board-item__date {
  display: block;
  text-align: end;
}

.board-item--hide-img .board-item__date {
  transform-origin: 100% 100%;
  scale: 0.85;
}

.board-item__data-wrapper {
  width: 100px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.board-item--hide-img .board-item__data-wrapper {
  transform-origin: 00% 100%;
  scale: 0.85;
}

.board-item__data {
  display: flex;
  align-items: flex-end;
  gap: 3px;
}

.board-item__data span {
  margin-left: 1px;
  position: relative;
  top: 1px;
}

.board-item__view::before {
  content: "";
  width: 14px;
  height: 14px;
  display: inline-block;
  background: url(/image/icon/eye.svg);
  filter: invert(var(--icon-invert));
}

.board-item__like::before {
  content: "";
  width: 14px;
  height: 14px;
  display: inline-block;
  background: url(/image/icon/thumbs-up.svg);
  filter: invert(var(--icon-invert));
}

.board-item__comment::before {
  content: "";
  width: 14px;
  height: 14px;
  display: inline-block;
  position: relative;
  top: 1.5px;
  background: url(/image/icon/chatbox.svg);
  filter: invert(var(--icon-invert));
}

.board__nav {
  height: 30px;
  margin: 7px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  border-radius: 4px;
  transition: 0.3s;
  z-index: 10;
}

.board__nav li {
  list-style: none;
}

.board__nav-btn {
  width: var(--font-size-md);
  height: var(--font-size-md);
  position: relative;
  font-size: var(--font-size-md);
  text-align: center;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
  color: var(--color-font);
}

.board__nav-btn-direction {
  font-size: var(--font-size-lg);
}

.board__nav-btn--focus::after {
  content: "";
  width: 4px;
  height: 4px;
  display: block;
  position: absolute;
  top: -0px;
  right: -3px;
  border-radius: 12px;
  background-color: green;
}

.board-empty {
  height: 60vh;
  margin-top: 14px;
  border-radius: 30px;
  border: 1px solid var(--color-smoke-b);
}

.board-empty__noti {
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .board__btn-layout {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 6px;
    right: 5px;
    border: none;
    filter: invert(60%);
  }

  .board__nav-btn {
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 17px;
  }
}

@media screen and (max-width: 768px) {
  .board__btn-layout {
    width: 18px;
    height: 18px;
    top: 0px;
  }

  .board__ul--grid .board-item__nick {
    position: absolute;
    top: 10px;
    right: 5px;
  }

  .board__nav-btn {
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 17px;
  }
}
