.board {
  width: 100%;
  height: auto;
  min-height: 100%;
  position: relative;
}

.board__title {
  padding-left: 6px;
  margin-bottom: 15px;
  font-size: var(--font-size-md);
}

.board__btn-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: -0px;
  right: 5px;
  filter: invert(var(--icon-invert));
}

.board__btn {
  width: 25px;
  height: 25px;
  position: relative;
}

.board__btn-img {
  background: url(/image/icon/image.svg) no-repeat;
}

.board__btn-default {
  background: url(/image/icon/image.svg) no-repeat;
}

.board__btn-default::after {
  content: "";
  display: block;
  width: 120%;
  height: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateZ(45deg);
  border-radius: 4px;
  border-top: 2px solid black;
}

.board__btn-grid {
  background: url(/image/icon/grid.svg) no-repeat;
}

.board__btn-list {
  background: url(/image/icon/list.svg) no-repeat;
}

.board__ul {
  position: relative;
}

.board__ul li {
  list-style: none;
}

.board__ul--grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 50%);
}

.board__ul--grid::after {
  content: "";
  width: 0px;
  height: 100%;
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-right: 1px dashed var(--color-smoke-b);
}

.board__ul::before {
  content: "";
  width: 100%;
  height: 1px;
  display: inline-block;
  position: absolute;
  border-top: 1px dashed var(--color-smoke-b);
}

.board-item {
  width: 100%;
  padding: 6px 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  position: relative;
  border-bottom: 1px dashed var(--color-smoke-b);
  cursor: pointer;
  list-style: none;
  background-color: var(--color-body);
}

.board-item__img-wrapper {
  width: 92px;
  height: 70px;
  background-color: var(--color-smoke-a);
}

.board-item__no-img::before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background: url(/image/clip.png) no-repeat center;
  background-size: 30%;
}

.board-item:nth-child(1),
.board-item:nth-child(2) {
  border-top: 1px dashed var(--color-smoke-b);
}

.board-item:hover {
  filter: brightness(0.93);
}

.board-item__data-wrapper {
  display: flex;
  gap: 10px;
}

.board-item__data {
  display: flex;
  align-items: flex-end;
  gap: 3px;
}

.board-item__data span {
  width: fit-content;
  font-size: var(--font-size-vsm);
  line-height: var(--font-size-vsm);
}

.board-item__category {
  padding: 2px 3px;
  background-color: var(--color-main);
  border-radius: 0px;
  font-size: var(--font-size-vsm);
  text-align: center;
  color: var(--color-body);
}

.board-item__title {
  margin: 8px 0 10px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: var(--font-size-md);
  font-weight: 500;
}

.board-item__nick {
  position: relative;
  bottom: -1px;
  font-size: var(--font-size-vsm);
}

.board-item__date {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: var(--font-size-vsm);
}

.board-item__view::before {
  content: "";
  width: 14px;
  height: 14px;
  display: inline-block;
  background: url(/image/icon/eye.svg);
  filter: invert(var(--icon-invert));
}

.board-item__like::before {
  content: "";
  width: 14px;
  height: 14px;
  display: inline-block;
  background: url(/image/icon/thumbs-up.svg);
  filter: invert(var(--icon-invert));
}

.board-item__comment::before {
  content: "";
  width: 14px;
  height: 14px;
  display: inline-block;
  position: relative;
  top: 1.5px;
  background: url(/image/icon/chatbox.svg);
  filter: invert(var(--icon-invert));
}

.board__nav {
  height: 30px;
  margin: 7px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  border-radius: 4px;
  transition: 0.3s;
  z-index: 10;
}

.board__nav li {
  list-style: none;
}

.board__nav-btn {
  width: var(--font-size-md);
  height: var(--font-size-md);
  position: relative;
  font-size: var(--font-size-md);
  text-align: center;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
  color: var(--color-font);
}

.board__nav-btn-direction {
  font-size: var(--font-size-lg);
}

.board__nav-btn--focus::after {
  content: "";
  width: 2px;
  height: 2px;
  display: block;
  position: absolute;
  top: 1px;
  right: 1px;
  border-radius: 12px;
  background-color: green;
}

.board-empty {
  height: 60vh;
  border-radius: 30px;
  box-shadow: -2px -2px 3px var(--color-shadow-lu),
    2px 2px 4px var(--color-shadow-rd);
}

.board-empty__notif {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-font);
  font-size: var(--font-size-lg);
}

@media screen and (max-width: 1200px) {
  .board__btn-layout {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 6px;
    right: 5px;
    border: none;
    filter: invert(60%);
  }

  .board__nav-btn {
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 17px;
  }
}

@media screen and (max-width: 768px) {
  .board__btn-layout {
    width: 18px;
    height: 18px;
    top: 0px;
  }

  .board__ul--grid .board-item__nick {
    position: absolute;
    top: 10px;
    right: 5px;
  }

  .board__nav-btn {
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 17px;
  }
}
