.item-detail__btn-ud {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.item-detail__btn {
  padding: 4px 12px;
  display: block;
  position: relative;
  background-color: var(--color-main);
  font-size: var(--font-size-md);
  color: var(--color-body);
  font-weight: 700;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.sug-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
  overscroll-behavior: none;
}

.sug-from li {
  list-style: none;
}

.sug-form__items {
  flex-grow: 1;
  width: min(640px, 95%);
  padding: 10px;
  margin: 30px 0;
  position: relative;
  border-radius: 4px;
  overflow-y: scroll;
}

.sug-from__btn-new {
  width: 100%;
  height: 36px;
  margin: 0 0 10px 0;
  position: sticky;
  top: 0px;
  border-radius: 4px;
  border: 1px solid var(--color-smoke-a);
  color: var(--font-color-dark);
  background-color: var(--color-body);
  box-shadow: 0 0 0 10px var(--color-body);
}

.sug-form__no-item {
  text-align: center;
  font-size: var(--font-size-md);
  font-weight: 500;
}

.sug-form__items li {
  list-style: none;
}

.sug-form__item {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-smoke-a);
}

.sug-form__items li:last-child label {
  border: none;
}

.sug-form__item-title,
.sug-form__item-nick,
.sug-from__btn-new {
  font-size: var(--font-size-md);
  font-weight: 500;
}

.sug-form__radio-btn {
  appearance: none;
  width: 16px;
  height: 16px;
  margin: 0 20px;
  border-radius: 100%;
  border: 4px solid var(--color-smoke-a);
  transition: 0.2s background-color;
}

.sug-form__radio-btn:checked {
  background-color: var(--color-main);
}

.sug-form__item-img {
  width: 64px;
  height: 36px;
  margin: 6px 6px;
  border-radius: 2px;
  background-color: var(--color-smoke-a);
}

.sug-form__item-title {
  flex-grow: 1;
  text-align: center;
}

.sug-form__btn-wrapper,
.create-field__btn-wrapper {
  width: 100%;
  margin: 10px 0 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.sug-form__btn,
.create-field__btn {
  width: 100px;
  height: 30px;
  font-size: var(--font-size-lg);
  color: var(--color-body);
  font-weight: 500;
}

.sug-form__btn:nth-child(1),
.create-field__btn:nth-child(1) {
  background-color: var(--color-main);
}

.sug-form__btn:nth-child(2),
.create-field__btn:nth-child(2) {
  background-color: var(--color-opposite);
}

.create-field {
  flex-grow: 1;
  width: min(640px, 95%);
  padding: 10px;
  margin: 30px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  overflow-y: scroll;
}

.create-field__img-receive {
  width: 100%;
  height: 81px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.create-field__img-input {
  position: absolute;
  width: 0;
  height: 0;
}

.create-field__img-label {
  width: 60px;
  height: 60px;
  display: inline-block;
  border-radius: 4px;
  background: url(/image/icon/duplicate.svg);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center bottom 70%;
  filter: invert(60%);
}

.create-field__img-count {
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translateX(-50%);
  font-size: var(--font-size-vsm);
  font-weight: 500;
}

.create-field__default-img,
.create-field__img-wrapper {
  width: 92px;
  height: 69px;
  position: relative;
  border-radius: 4px;
  border: 1px solid var(--color-smoke-a);
  background: var(--color-smoke-a);
  overflow: hidden;
}

.create-field__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.create-filed__btn-delete-img {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0px;
  right: 0px;
  border-radius: 0 0 0 4px;
  background-color: var(--color-font);
  line-height: var(--font-size-vsm);
  font-size: var(--font-size-vsm);
  text-align: center;
}

.create-field__title {
  width: 100%;
  height: 40px;
  padding-left: 7px;
  margin: 20px 0;
  font-size: var(--font-size-md);
  border-radius: 4px;
  border: 1px solid var(--color-smoke-a);
  background-color: var(--color-body);
  color: var(--font-color-dark);
}

.create-field__title::placeholder {
  font-size: var(--font-size-md);
  color: var(--font-color-dark);
}

.create-field__description {
  flex-grow: 1;
  width: 100%;
  height: 100px;
  border-radius: 4px;
  border: 1px solid var(--color-smoke-a);
}

@media screen and (max-width: 768px) {
  .create-field__default-img,
  .create-field__img-wrapper {
    width: 64px;
    height: 48px;
  }
}

@media screen and (max-width: 576px) {
  .item-detail__btn-ud {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 8px;
  }

  .item-detail__btn {
    padding: 6px 18px;
    display: block;
    position: relative;
    background-color: var(--color-main);
    font-size: var(--font-size-lg);
    color: var(--color-body);
    font-weight: 700;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  }

  .create-field__img-receive {
    height: 50px;
    gap: 5px;
  }

  .create-field__img-count {
    bottom: -2%;
  }

  .create-field__img-label {
    width: 44px;
    height: 44px;
    background-size: 24px;
  }
  .create-field__default-img,
  .create-field__img-wrapper {
    width: 48px;
    height: 36px;
  }
}
